<% for(var groupName in group) { %>
    <% var clients = group[groupName]; %>
    <% clients.forEach(function(client, i) { %>
    <tr id="c-<% client.id %>">
        <% if(i == 0) { %>
        <td rowspan="<%= clients.length %>"><%= groupName %></td>
        <% } %>
        <td><%= client.id %></td>
        <td><%= client.host %></td>
        <td><%= client.port %></td>
        <td><i class="am-icon-circle status-<%= client.status %>"></i></td>
        <td>
            <a href="javascript:void(0);"
                data-action="open"
                data-client-id="<%= client.id %>"
                title="open new term"
            >
                <i class="am-icon-external-link"></i>
            </a>
            <a href="javascript:void(0);"
                data-action="remove"
                data-client-id="<%= client.id %>"
                title="destroy remote client"
            >
            <i class="am-icon-remove"></i>
            </a>
        </td>
    </tr>
    <% }); %>
<% } %>
