<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>sockets list</title>
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <link rel="stylesheet" href="/css/monit.css" />
</head>

<body>
    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <strong>NFly</strong> <small>monit</small>
        </div>
    </header>
    <section class="container">
        <table id="client-list" class="am-table am-table-bordered client-list">
            <thead>
                <tr>
                    <th>group</th>
                    <th>clientId</th>
                    <th>host</th>
                    <th>port</th>
                    <th>status</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody>
            <% for(var groupName in group) { %>
                <% var clients = group[groupName]; %>
                <% clients.forEach(function(client, i) { %>
                <tr>
                    <% if(i == 0) { %>
                    <td rowspan="<%= clients.length %>"><%= groupName %></td>
                    <% } %>
                    <td><%= client.id %></td>
                    <td><%= client.host %></td>
                    <td><%= client.port %></td>
                    <td><i class="am-icon-circle status-<%= client.status %>"></i></td>
                    <td>
                        <a href="javascript:void(0);" data-client="open:<%= client.id %>" title="open term"><i class="am-icon-external-link"></i></a>
                        <a href="javascript:void(0);" data-client="remove:<%= client.id %>" title="destroy"><i class="am-icon-remove"></i></a>
                    </td>
                </tr>
                <% }); %>
            <% } %>
            </tbody>
        </table>
    </section>
    <!-- <footer>
        <p class="am-padding-left">&copy; 2015 chemdemo. Licensed under MIT license.</p>
    </footer> -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/monit.js"></script>
</body>

</html>
