<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>remote socket client list</title>
    <link rel="stylesheet" href="/css/amazeui.min.css" />
    <link rel="stylesheet" href="/css/monit.css" />
</head>

<body>
    <header class="am-topbar admin-header">
        <div class="am-topbar-brand">
            <strong>WTS-Monitor</strong>
        </div>
    </header>
    <section class="container">
        <table id="client-list" class="am-table am-table-bordered client-list">
            <thead>
                <tr>
                    <th>group</th>
                    <th>clientId</th>
                    <th>host</th>
                    <th>port</th>
                    <th>status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            <% include client-list.html %>
            </tbody>
        </table>
    </section>
    <!-- <footer>
        <p class="am-padding-left">&copy; 2015 chemdemo. Licensed under MIT license.</p>
    </footer> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/monit.js"></script>
</body>

</html>
